.row{
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;

}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
#content2{
    height: 100vh;
}
.text-center{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 700;
}
